<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bumdesku.merchant"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.bumdesku.merchant.constants.BaseApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity android:name="com.bumdesku.merchant.activity.EditstoreActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bumdesku.merchant.activity.AddmenuActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bumdesku.merchant.activity.OrdervalidasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumdesku.merchant.activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.bumdesku.merchant.utils.api.service.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.bumdesku.merchant.activity.IntroActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.bumdesku.merchant.activity.PicklocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumdesku.merchant.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bumdesku.merchant.activity.TopupSaldoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.bumdesku.merchant.activity.EditmitraActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.bumdesku.merchant.activity.ChangepassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_phone"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bumdesku.merchant.activity.WithdrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_phone"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bumdesku.merchant.activity.WalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bumdesku.merchant.activity.TopUpPulsaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bumdesku.merchant.activity.TopUpBpjsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bumdesku.merchant.activity.TopUpPlnActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bumdesku.merchant.activity.OperatorProviderListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bumdesku.merchant.activity.PpobActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.bumdesku.merchant.activity.WaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.bumdesku.merchant.activity.PrivacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name="com.bumdesku.merchant.activity.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumdesku.merchant.activity.EditmenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumdesku.merchant.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name="com.bumdesku.merchant.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_phone"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bumdesku.merchant.activity.LupapassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_phone"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bumdesku.merchant.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:launchMode" />
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bumdesku.merchant.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>